/// Mixin to customize scrollbars
/// Beware, this does not work in all browsers
/// @author Anurag Gupta
/// @param {Length} $size - Horizontal scrollbar's height and vertical scrollbar's width
/// @param {Color} $foreground-color - Scrollbar's color
/// @param {Color} $background [mix($primary, white, 75%)] - Scrollbar's color
/// @example scss - Scrollbar styling
///   @include scrollbars(.5em, slategray);
@mixin scrollbars($size, $foreground-color, $background: mix($foreground-color, $white, 50%)) {
    ::-webkit-scrollbar {
        width:  $size;
        height: $size;
    }
  
    ::-webkit-scrollbar-thumb {
        background: $foreground-color;
        // border-radius: 30px;
    }
  
    ::-webkit-scrollbar-track {
        background: $background;
        // border-radius: 30px;
    }
  
    // For Internet Explorer
    router-outlet {
        overflow-y: scroll;
      scrollbar-face-color: $foreground-color;
      scrollbar-track-color: $background;
    }
  }
  @include scrollbars(0.2em, $slate-gray);

  @mixin linear-gradient($from, $to) {
    background: -webkit-gradient(linear, left top, right top, $from 1%, $from 10%, $white 45% , $white 50%, $white 55%, $to 90%, $to 100%);
    background: linear-gradient(to right, $from 1%, $from 10%, $white 45% , $white 50%, $white 55%, $to 90%, $to 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-shadow: none;
  }

  @function theme-color($key: 'primary', $variant: 'base') {
    $map: map-get($theme-colors, $key);
    @return map-get($map, $variant);
  }