
$link: #eca300;
$link-hover: #eca100b9;
$green: #008000;
$navy-blue: #000080;
$white: #fff;
$sky-blue: #1bb1e8;
$dark-gray: #545b62;
$black: #000;

// initial theme colors
$base:#fff !default;
$body-background: #252525;
$nav-background: #2b2b2b;
$sky-blue: #1bb1e8;
$slate-gray: slategray;
$light-gray: #eae6e6;

// second theme colors
// $base:#333 !default;
// $body-background: #ebe5e5;
// $nav-background: #e6dcdc;
// $slate-gray: rgb(26, 27, 27);
// $gray: $base;

/// Relative or absolute URL where all assets are served from
$base-url: '/assets/' !default;