$base:#fff !default;
$body-background: #303030;
$nav-background: #232323;
$sky-blue: #1bb1e8;
$navy-blue: #000080;
$slate-gray: slategray;
$navbar-link-hover: #eca300;
$green: #008000;
$gray: #dddddd;

/// Relative or absolute URL where all assets are served from
$base-url: '/assets/' !default;