html, body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    position: relative;
    margin: 0 auto;
    color: $base !important;
    //background: $body-background;//url("/assets/images/background.png");
    background-color: $body-background;
    background-attachment: fixed;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#main{
    min-height: 100vh;
    height: 100vh;
}

// span:not(:last-child),
// label:not(:last-child){
//     margin-right: 5px;
// }

.justify-content-center{
    justify-content: center!important;
}

.align-items-center{
    -ms-flex-align: center!important;
    align-items: center!important;
}

.highlight{
    color: $navbar-link-hover;
}

h1{
    line-height: 1.2;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: .5rem;
    font-family: inherit;
    line-height: 1.2;
}

.left{
    text-align: left;
    padding-top: 40%;
}

// a {
//     @include linear-gradiant($base, $navbar-link-hover);
//     &:focus,
//     &:hover{
//         outline: none;
//         color: $navbar-link-hover !important;
//         background: none !important;
//         -webkit-text-fill-color: $base !important;
//         text-decoration: underline;
//     }
// }

// hr {
//     border: 0;
//     height: 1px;
//     background: $sky-blue;
//     background: -webkit-gradient(linear, left top, right top, color-stop(0%,$slate-gray), color-stop(50%,$sky-blue), color-stop(100%,$slate-gray));
//     background: -webkit-linear-gradient(left, $slate-gray 0%, $sky-blue 50%, $slate-gray 100%);
//     background:    -moz-linear-gradient(left, $slate-gray 0%, $sky-blue 50%, $slate-gray 100%);
//     background:     -ms-linear-gradient(left, $slate-gray 0%, $sky-blue 50%, $slate-gray 100%);
//     background:      -o-linear-gradient(left, $slate-gray 0%, $sky-blue 50%, $slate-gray 100%);
//     background:         linear-gradient(left, $slate-gray 0%, $sky-blue 50%, $slate-gray 100%);
// }

@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
}


@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 10; }
}

/* Firefox < 16 */
@-moz-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 10; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 10; }
}

/* Internet Explorer */
@-ms-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 10; }
}
 

.fadeInDown{
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-duration: 1s;
    animation-fill-mode: both ;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.fadeIn {
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-duration: 3s;
    animation-fill-mode: both ;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

h1, h2, h3, h4, h5, h6{
    font-family: inherit;
}

.abouthighlight {
    font-weight: 600;
    color: #fff;
}