body {
    background-color: $body-background;
}

h1, h2, h3, h4, h5, h6{
    font-family: inherit;
    color: $base;
}

.fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.justify-content-center{
    justify-content: center!important;
}
.align-items-center{
    -ms-flex-align: center!important;
    align-items: center!important;
}
.highlight{
    color: $link;
}

.abouthighlight {
    font-weight: 600;
    color: $base;
}

h1{
    line-height: 1.2;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: .5rem;
    font-family: inherit;
    line-height: 1.2;
}

h3 {
    color: $light-gray;
    font-size: 13px;
    padding-top: 20px;
    font-style: italic;
    max-width: 80%;
    line-height: 1.5em;
}

i{
    margin-right: 5px;
}

.left{
    text-align: left;
    padding-top: 0;
}

::selection {
    background: $highlight;
}

.homepage {
    .btn {
        margin-top: 30px;
        color: $base;
    }

    .btn-primary {
        background-color: $link;
        border-color: $link !important;
    }

    .btn-secondary {
        background-color: transparent;
        border-color: $dark-gray !important;
        &:focus,
        &:active,
        &:visited,
        &:hover{
            background-color: $btn-sec-hov !important;
            border-color: $btn-sec-hov !important;
        }
    }

    .btn-primary,
    .btn-secondary{
        padding: 16px 30px;
        border-radius: 0;
        border: 1px;
        border-style: solid;
        transition: all 0.5s;
        font-size: 14px;
    }

    .btn-primary {
        &:active,
        &:focus,
        &:hover{
            color: $base;
            transition: all 0.5s;
            border-color: $link !important;
            box-shadow: none;
        }
        &:hover{
            background-color: $link-hover !important;
        }

        &:active,
        &:focus{
            background-color: $link !important;
            box-shadow: 0 0 0 0.2rem $link !important
        }
    }
}

// a {
//     @include linear-gradiant($base, $link);
//     &:focus,
//     &:hover{
//         outline: none;
//         color: $link !important;
//         background: none !important;
//         -webkit-text-fill-color: $base !important;
//         text-decoration: underline;
//     }
// }

// hr {
//     border: 0;
//     height: 1px;
//     background: $sky-blue;
//     background: -webkit-gradient(linear, left top, right top, color-stop(0%,$slate-gray), color-stop(50%,$sky-blue), color-stop(100%,$slate-gray));
//     background: -webkit-linear-gradient(left, $slate-gray 0%, $sky-blue 50%, $slate-gray 100%);
//     background:    -moz-linear-gradient(left, $slate-gray 0%, $sky-blue 50%, $slate-gray 100%);
//     background:     -ms-linear-gradient(left, $slate-gray 0%, $sky-blue 50%, $slate-gray 100%);
//     background:      -o-linear-gradient(left, $slate-gray 0%, $sky-blue 50%, $slate-gray 100%);
//     background:         linear-gradient(left, $slate-gray 0%, $sky-blue 50%, $slate-gray 100%);
// }

// @keyframes fadeInDown {
//     0% {
//        opacity: 0;
//        transform: translateY(-25px);
//     }
//     100% {
//        opacity: 1;
//        transform: translateY(0);
//     }
// }

// @keyframes fadeInUp {
//     0% {
//        opacity: 0;
//        transform: translateY(25px);
//     }
//     100% {
//        opacity: 1;
//        transform: translateY(0);
//     }
// }


// @keyframes fadeIn {
//     from { opacity: 0; }
//     to   { opacity: 10; }
// }

// /* Firefox < 16 */
// @-moz-keyframes fadeIn {
//     from { opacity: 0; }
//     to   { opacity: 10; }
// }

// /* Safari, Chrome and Opera > 12.1 */
// @-webkit-keyframes fadeIn {
//     from { opacity: 0; }
//     to   { opacity: 10; }
// }

// /* Internet Explorer */
// @-ms-keyframes fadeIn {
//     from { opacity: 0; }
//     to   { opacity: 10; }
// }

// .fadeInDown{
//     -webkit-animation-name: fadeInDown;
//     animation-name: fadeInDown;
// }

// .fadeInUp{
//     -webkit-animation-name: fadeInUp;
//     animation-name: fadeInUp;
// }

// .fadeIn {
//     -webkit-animation-name: fadeIn;
//     animation-name: fadeIn;
// }

.loader {
    background-color: #404040;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.animated, .slideOutRight {
    overflow-x: hidden;
}