.navbar-dark {
  background: transparent;
  display: flex;
  a {
    font-size: 12px;
  }

  .navbar-brand {
    color: $base;
    margin: 0 auto;
    transition: all 0.5s;
    font-weight: 600;
    letter-spacing: 2px;
    &:hover{
      color: $link;
      transition: all 0.5s;
      // @include linear-gradient($link, $green);
    }
  }

  .nav-link {
    margin: 0 20px 0 0;
    color: $base !important;
    display: inline-block;
    &:focus,
    &:hover {
      color: rgba(255,255,255,.75);
    }

    &::after{
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: linear-gradient(to right, $link 1%, $link 10%, $white 45% , $white 50%, $white 55%, $green 90%, $green 100%);
      transition: width 0.3s;
    }
  }

  .nav-link:hover::after {
      width: 100%;
  }

  .nav-link::after {
  }

}

ul.ml-auto {
  margin: 8px;
}