@import 
    'abstracts/variables',
    'abstracts/mixins';

@import
    'base/base';

@import
    'components/main-header',
    'components/about';



@media screen and (max-width: 375px){
    .left{
        padding-top: 20%;
    }

    .top-buffer {
        padding-top: 0px !important;
    }
}

@media screen and (min-width: 768px) {
    h1{
        font-size: 46px;
    }

    h3 {
        font-size: 16px;
    }

    .navbar {
        padding: 0.5rem 4rem !important;
    }
    
    .vertical-center{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 12%;
    }
    
    .left {
        padding-top: 0;
    }

    .top-buffer {
        padding-top: 120px;
    }

    .btn-secondary {
        margin-left: 20px;
    }
    
    .homepage {
        padding: 16px 30px;
        .btn {
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: 767px){
    .left{
        padding-top: 20%;
    }

    .top-buffer {
        padding-top: 60px;
    }
}

@media screen and (min-width: 992px) {
    h1{
        letter-spacing: 1px;
    }
    
    #main{
        min-height: 100vh;
    }
    
    .about {
        margin-bottom: 0;
    }

    .hidden-lg{
        display: none !important;
        z-index: 0;
        visibility: hidden;
        opacity: 0;
    }
}

@media screen and (max-width: 991px) {
    .navbar{
        background-color: $nav-background;
        padding: 8px 16px;
        z-index: 9;
    }

    .hidden-sm,
    .navbar.fixed-top .navbar-collapse {
        display: none !important;
        z-index: 0;
        visibility: hidden;
        opacity: 0;
    }

    .navbar.fixed-bottom .navbar-collapse{
        display: inline-block !important;
        z-index: 1;
        visibility: visible;
        opacity: 10;
    }

    .navbar-nav{
        width: 100%;
        display: -webkit-inline-box;
        text-align: center;
        .nav-item{
            width: 25%;
        }
    }
    
    .fixed-top{
        position: sticky;
        top: auto;
    }
}