@import 
    'abstracts/variables',
    'abstracts/mixins';

@import
    'base/base';

@import
    'components/main-header',
    'components/about',
    'components/posts';

@media screen and (max-width: 375px){
    .left{
        padding-top: 20%;
    }
}

@media screen and (min-width: 768px) {
    h1{
        font-size: 46px;
    }

    h3 {
        font-size: 16px;
    }
    
    .vertical-center{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 12%;
    }

    .btn-secondary {
        margin-left: 20px;
    }
    
    .homepage {
        padding: 16px 30px;
        .btn {
            margin-top: 30px;
        }
    }

    .btn-secondary:focus, .btn-secondary.focus{
        box-shadow: 0 0 0 0.1rem $btn-sec-hov;
    }
    .btn-primary:focus, .btn-primary.focus,
    .btn-primary:not(:disabled):not(.disabled):active:focus{
        box-shadow: 0 0 0 0.1rem $btn-pri-hov;
    }
}

@media screen and (max-width: 767px){
    .left{
        padding-top: 22%;
    }
    .homepage .btn-primary:active,
    .homepage .btn-primary:focus,
    .btn-primary:focus, .btn-primary.focus,
    .btn-primary:not(:disabled):not(.disabled):active:focus
    .btn-secondary:not(:disabled):not(.disabled):active:focus,
    .btn-secondary:focus, .btn-secondary.focus{
        box-shadow: none !important;
    }
}

@media screen and (min-width: 992px) {
    h1{
        letter-spacing: 1px;
    }
    
    #main{
        min-height: 100vh;
    }
    
    .about {
        margin-bottom: 0;
    }

    .hidden-lg{
        display: none !important;
        z-index: 0;
        visibility: hidden;
        opacity: 0;
    }

    .navbar {
        padding: 0.5rem 4rem;
    }
}

@media screen and (max-width: 991px) {
    .navbar{
        background-color: $nav-background;
        padding: 8px 16px;
        z-index: 9;
        .navbar-brand {
          letter-spacing: 5px;
        }
    }

    .hidden-sm,
    .navbar.fixed-top .navbar-collapse {
        display: none !important;
        z-index: 0;
        visibility: hidden;
        opacity: 0;
    }

    .navbar.fixed-bottom .navbar-collapse{
        display: inline-block !important;
        z-index: 1;
        visibility: visible;
        opacity: 10;
    }

    .navbar-nav{
        width: 100%;
        display: inline-block;
        text-align: center;
        .nav-item{
            width: 33%;
            display: inline-block;
        }
    }
    
    .fixed-top{
        position: fixed;
        top: auto;
    }
}