@import 
    'abstracts/variables',
    'abstracts/mixins';

@import
    'base/base';

@import
    'components/main-header',
    'components/about',
    'components/posts';

@media screen and (max-width: 375px){
    .left{
        padding-top: 20%;
    }
}

@media screen and (min-width: 768px) {
    h1{
        font-size: 46px;
    }

    h3 {
        font-size: 16px;
    }
    
    .vertical-center{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 12%;
    }

    .btn-secondary {
        margin-left: 24px;
    }
    
    .homepage {
        padding: 16px 30px;
        .btn {
            margin-top: 30px;
        }
    }

    .btn-secondary:focus, .btn-secondary.focus{
        box-shadow: 0 0 0 0.1rem $btn-sec-hov;
    }

    .btn-primary:focus, .btn-primary.focus,
    .btn-primary:not(:disabled):not(.disabled):active:focus{
        box-shadow: 0 0 0 0.1rem $btn-pri-hov;
    }

    .wrapper {
        width: 100%;
        margin: 0 auto;
        position: relative;
        min-height: 100vh;
        overflow: hidden;
    }

    .vertical-center {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10%;
    }
    
    .col-md {
        padding: 0px !important;
    }
}

@media screen and (max-width: 767px){
    .left{
        text-align: left;
        padding-top: 50%;
    }
    .homepage .btn-primary:active,
    .homepage .btn-primary:focus,
    .btn-primary:focus, .btn-primary.focus,
    .btn-primary:not(:disabled):not(.disabled):active:focus
    .btn-secondary:not(:disabled):not(.disabled):active:focus,
    .btn-secondary:focus, .btn-secondary.focus{
        box-shadow: none !important;
    }
    .accordion {
        .card{
            .card-header{
                button{
                    padding-left: 5px;
                }
            }
            .card-body{
                border-top: 1px solid $base;
                padding: 10px;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    h1{
        letter-spacing: 1px;
    }
    
    .about {
        margin-bottom: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10%;
    }

    .hidden-lg{
        display: none !important;
        z-index: 0;
        visibility: hidden;
        opacity: 0;
    }

    .navbar {
        padding: 0.5rem 4rem;
    }

    .accordion{
        .card{
            display: inline-block;
            width: 100%;
            .collapse.show,
            .card-header{
                display: -webkit-inline-flex;
                display: inline-flex;
            }
            .card-header{
                width: 20%;
            }
            .collapse.show{
                width: 80%;
                padding: 0 20px;
            }
            .collapsing{
                display: none;
            }
        }
    }

    .top-buffer-120 {
        padding-top: 50px !important;
    }
}

@media screen and (max-width: 991px) {
    .navbar{
        background-color: $nav-background;
        padding: 8px 16px;
        z-index: 9;
        .navbar-brand {
          letter-spacing: 3px;
        }
    }

    .hidden-sm,
    .navbar.fixed-top .navbar-collapse {
        display: none !important;
        z-index: 0;
        visibility: hidden;
        opacity: 0;
    }

    .navbar.fixed-bottom .navbar-collapse{
        display: inline-block !important;
        z-index: 1;
        visibility: visible;
        opacity: 10;
    }

    .navbar-nav{
        width: 100%;
        display: inline-block;
        text-align: center;
        .nav-item{
            width: 33%;
            display: inline-block;
        }
    }
    
    .fixed-top{
        position: fixed;
        top: auto;
    }
}